.navbar {
  background: #333;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.menu-icon {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.nav-menu {
  display: none;
  list-style: none;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  width: 20%;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 100;
  background: #333;
}

.nav-item {
  height: 50px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links:hover {
  background-color: #575757;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav-menu.active {
  display: flex;
}

.nav-menu.active .nav-item:last-child {
  position: absolute;
  bottom: 80px;
  left: 30%;
}
